.message{data: {message: {id: message.id}}}
  .main-chat__message-list__box
    .main-chat__message-list__box__user
      = message.user.name
    .main-chat__message-list__box__date
      = message.created_at.strftime('%y/%m/%d(%a) %H:%M:%S')
  .main-chat__message-list__message
    - if message.content.present?
      %p.main-chat__message-list__message__content
        = message.content
    - if message.image.present?
      = image_tag message.image.url, class: 'main-chat__message-list__message__image'